body {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Bungee Inline', cursive;
  /*background-image: url('http://i68.tinypic.com/161x64z.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}
#signupCss {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
#loginCss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
#logo {
  width: 6em;
  height: 6em;
  border: 3px solid white;
  border-radius: 20px;
  margin-left: 5px;
  margin-top: 10px;
}
/*.layer {
  background-color: rgba(150, 247, 216, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

.navHov {
  color: white;

}
.navHov:hover {
  color: teal;
  border: 1px solid white;

}
span.portText {
  margin-top: 10px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  text-shadow: 2px 2px 6px black;
  margin-top: 10px;
}

#dropdown1 {
  text-align: right;
}
/* IE 6 */
* html .page-footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
.page-footer {
  position:fixed;
  margin: 0 auto;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
footer.index-footer {
  margin: 0;
  position: absolute;
  right: 0;
  /*bottom: 0;*/
  left: 0;
  padding: 1rem;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.custom-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

}
  .custom-container .section {
    width: 100%;
  }


@media only screen and (max-width :800px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
