
<div id="addAlbum" ng-controller="albumsController as albumCtrl">

    <h3>Add Album</h3>
      <div>
        <form id="addInput" ng-submit="albumCtrl.createAlbum(album)">
            <div class="input-field">
              <input id="album" placeholder="Album Title" type="text" class="validate" ng-model="album.title">
              <input id="album" placeholder="Album Description" type="text" class="validate" ng-model="album.description">
              <label for="album"></label>
            </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Add<i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>


    <!--==========** MAIN FOOTER **===========-->
        <footer class="page-footer black">
          <div class="container">  
              <div class="col l6 s12">
    </footer>

<ul ng-controller="albumsController as albumCtrl">
  <li ng-repeat="album in albumCtrl.allAlbums"></li>
</ul>
