<div id="signupCss" class="col s12 m4">
  <div class="icon-block">
    <h2 class="center brown-text"><h2>Sign Up</h2>

    <div>
      <div class="row">
        <form class="col s12" ng-submit="mainCtrl.signup(newUser)">
          <div class="row">
            <div class="input-field col s12">
              <label for="username">username</label>
              <input id="username" type="text" ng-model="newUser.username">

            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="password">Password</label>
              <input id="password" type="password" ng-model="newUser.password">

            </div>
          </div>


          <button class="btn waves-effect waves-light" type="submit">Sign up
            <!-- <i class="material-icons right">send</i> -->
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

  <img id='welcomePic' class="responsive-img" src="./img/producer.jpg"/>
    <br><br>

<!--==========** MAIN FOOTER **===========-->
    <footer class="index-footer black">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About Sound Overflow</h5>
            <p class="grey-text text-lighten-4">Learn about the creators of Sound Overflow</p>

  <!--==========** FOOTER LINKS **===========-->
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
            <!-- FACEBOOK -->
            <a target="_blank" title="follow me on facebook" href="#"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
            <!-- TWITTER -->
              <a target="_blank" title="follow me on Twitter" href="#"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a>
            <!-- YOUTUBE  -->
            <a target="_blank" title="follow me on youtube" href="#"><img alt="follow me on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube30x30.png" border=0></a>
            <!-- INSTAGRAM -->
            <a target="_blank" title="follow me on instagram" href="#"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>
        </div>
        <div class="col l3 s12">
      </div>

<!--FOOTER -->
  <div class="footer-wrapper col 6 s12">
    <div class="footer-copyright">
      <div class="container white-text"> Created by  <a class="brown-text text-lighten-3"  href="https://github.com/estermer/nitpic-ui"> Sean </a>
      </div>
    </div>
  </footer>
