
<div class="custom-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2"></h1>
      <div class="row center">
        <h5 class="header col s12 light">
          <button ui-sref="album-show" id="back" class="btn waves-effect waves-light">Go Back</button>


          <br><br><br>
          <button ng-if="mainCtrl.isUser" ng-click="mainCtrl.deleteSong(mainCtrl.thisSong)" id="deleteSongButton" class="center btn waves-effect waves-light">Delete Song</button>
          <br><br>

          <audio controls id="songShowCss" ng-src="{{mainCtrl.thisSong.audio_thumb_url | trustUrl }}" alt="{{mainCtrl.thisSong.audio_file_name}}"></audio>

          <div id="container">
              <form id="createComment" ng-submit="mainCtrl.createComment(newComment, mainCtrl.thisSong.id)">
                  <div class="input-field">
                     <label for="title">Comment</label>
                      <input id="title" type="text" ng-model="newComment.body">
                  </div>

                  <button id="newCommentButton" class="btn waves-effect waves-light" type="submit">Add Comment</button>
              </form>
          </div>
          <div id="container">
            <ul ng-repeat="comment in mainCtrl.thisSong.comments">
              <li>{{comment.created_at | date: 'short' }} - {{comment.body}} @{{comment.username}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
