
<div class="row center" ng-controller="mainController as mainCtrl">
  <a ui-sref="new-album">Create New Album</a>

 <!-- <a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Albums</a> -->
<div class="" ng-repeat="album in mainCtrl.albums">
  <div class="">
    <h3>{{album.title}}</h3>
    <p>
      {{album.description}}
    </p>
  </div>
</div>

 <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a ui-sref="#">Album #1</a></li>
   <li><a ui-sref="#">Album #2</a></li>
   <li class="divider"></li>
   <li><a ui-sref="#">Album #3</a></li>
   <li><a ui-sref="#">Album #4</a></li>
 </ul>

      <!--==========** MAIN FOOTER **===========-->
          <footer class="page-footer black">
            <div class="container">  
                <div class="col l6 s12">
      </footer>

</div> <!-- Close Ctrl div -->
