

<img id="welcomePic" src="http://i68.tinypic.com/161x64z.jpg">
<div class="layer">

  <div id="loginCss">
    <br>
    <br>
    <br>
  <h2 id="login">Login</h2>

    <div id="container">
      <main id="center" class="column">
        <div ng-controller="usersController as users">
          <form id="loginInput"  ng-submit="users.login(userPass)">
              <div class="input-field">
                  <input id="username" type="username" ng-model="userPass.username">
                  <label for="username">Email</label>
              </div>
              <div class="input-field">
                <input id="password" type="password" ng-model="userPass.password">
                <label for="password">Password</label>
              </div>

              <button id="loginButton" class="btn waves-effect waves-light" type="submit">Log in
              </button>
          </form>
      </div>
    </div>
  </div>
</div>

     <h2 id="signupCss">Sign Up</h2>

     <div ng-controller="usersController as users">
       <div class="row">
         <form class="col s12" ng-submit="users.signup(userPass)">
           <div class="row">
             <div class="input-field col s12">
               <label for="username">username</label>
               <input id="username" type="username" ng-model="userPass.username">

             </div>
           </div>
           <div class="row">
             <div class="input-field col s12">
               <label for="password">Password</label>
               <input id="password" type="password" ng-model="userPass.password">

             </div>
           </div>

           <button class="btn waves-effect waves-light" type="submit">Sign up
             <!-- <i class="material-icons right">send</i> -->
           </button>
         </form>
       </div>
      </div>


</main>
