

<!-- <div class="layer">
</div> -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">NITPIC</h1>
      <div class="row center">
        <h5 class="header col s12 light">THE PLACE WHERE YOU CAN NITPICK THE PICS YOU PICK TO NITPIC.</h5>
      </div>

      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="bg-cta.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <div id="loginCss">

          <h2 id="login">Login</h2>

            <div id="container">
              <main id="center" class="column">
                <div ng-controller="usersController as users">
                  <form id="loginInput"  ng-submit="users.login(userPass)">
                      <div class="input-field">
                          <input id="username" type="username" class="validate" ng-model="userPass.username">
                          <label for="username">Username</label>
                        </div>
                        </div>

                        <div class="input-field">
                          <input id="password" type="password" class="validate" ng-model="userPass.password">
                          <label for="password">Password</label>
                        </div>

                        <button id="loginButton" class="btn waves-effect waves-light" type="submit">Log in
                      </button>
                    </form>
                  </div>
                 </div>
               </div>

        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><h2 id="signupCss">Sign Up</h2>

          <div ng-controller="usersController as users">
            <div class="row">
              <form class="col s12" ng-submit="users.signup(userPass)">
                <div class="row">
                  <div class="input-field col s12">
                    <label for="username">username</label>
                    <input id="username" type="username" ng-model="userPass.username">

                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <label for="password">Password</label>
                    <input id="password" type="password" ng-model="userPass.password">

                  </div>
                </div>

                <button class="btn waves-effect waves-light" type="submit">Sign up
                  <!-- <i class="material-icons right">send</i> -->
                </button>
              </form>
            </div>

         </div>
        </div>
      </div>
    </div>

  </div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>

</body>
</main>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</html>
